.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  background-color: rgba(0, 0, 0, 0.75);
  height: auto;
  color: white;
  padding: 1rem;
}

.pdf-wrapper {
  height: 75vh;
  width: 75%;
  align-items: center;
  text-align: center;
  margin-left: 12.5%;
}

.portfoliocard {
  margin-bottom: 10px;
}


html {
  background: url('./img/seattle-cover.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, serif;
}
